<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <!-- VersionOne configuration (set proxy config settings, if applicable) -->
    <add key="V1Instance" value="http://eval.versionone.net/ldaptest/"/>
    <add key="V1InstanceUsername" value="admin"/>
    <add key="V1InstancePassword" value="admin"/>
    <add key="V1UserDefaultRole" value="Role:4"/>
    <!-- Role:4 is the Team Member role -->

    <!-- Proxy configuration (leave values = "" if not using a proxy -->
    <!-- Leave username and password blank to use Default Credentials (network/ldap/AD authentication)-->
    <add key="proxyServerUri" value="http://corp-55w-proxy.mhc:8080/"/>
    <add key="proxyUsername" value="Gabe_Camacho"/>
    <add key="proxyPassword" value="Camach07"/>
    <add key="proxyDomain" value=""/>
    
    <!-- LDAP configuration -->
    <add key="ldapServerPath" value="152.159.23.120:3890"/>
    <add key="ldapGroupDN" value="cn=im_group_esb_dev_IntegDeployers,ou=groups,ou=intranet,dc=mhc"/>
    <!-- add key="ldapUsername" value="uid=Gabe_Camacho,ou=people,ou=intranet,dc=mhc"/-->
    <add key="ldapUsername" value="uid=Gabe_Camacho,ou=people,ou=intranet,dc=mhc"/>
    <add key="ldapPasswword" value="Camach07"/>
    <add key="ldapGroupMemberAttribute" value="uniqueMember"/>
    <add key="mapToV1Username" value="uid"/> <!-- value=[customer's LDAP user atttribute that holds username to be mapped to the V1 username]-->
    <add key="mapToV1Fullname" value="cn"/>
    <add key="mapToV1Email" value="mail"/>
    <add key="mapToV1Nickname" value="sn"/>
    <add key="useDefaultLDAPCredentials" value="false"/> <!-- any value other than "false" will result in the use of Default Credentials-->

    <!-- email related properties -->
    <add key="smtpEnableSSL" value="false"/> <!-- this property is not supported in the mailSettings element, set it here -->
    <add key="userNotificationEmailSubject" value="You Have Been Added as VersionOne User"/>
    <add key="userNotificationEmailBodyFilename" value="userNotificationEmail.html"/>
    <add key="adminFullName" value="VersionOne Administrator"/>
    <add key="adminEmail" value="gabe_camacho@standardandpoors.com"/>
    <add key="adminNotificationEmailSubject" value="Notification of VersionOne User Changes"/>
    <add key="adminNotificationEmailBodyTemplateFilename" value="adminNotificationEmailTemplate.html"/>
    <add key="adminNotificationEmailBodyNewUsersFilename" value="adminNotificationEmailNewUsers.html"/>
    <add key="adminNotificationEmailBodyDeactivatedUsersFilename" value="adminNotificationEmailDeactivatedUsers.html"/>
    <add key="adminNotificationEmailBodyReactivatedUsersFilename" value="adminNotificationEmailReactivatedUsers.html"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!-- use this network declaration to include a specific username and password 
        <network host="mail.mydomain.com" password="xxxxxx" port="25" userName="someaddress@mydomain.com" defaultCredentials="false"/>
        -->
        <!-- use this network declaration to use the credentials of the process running the provisioning tool -->
        <network host="mailhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole"
              layout="${date:format=HH\:mm\:ss}|${level}|${exception}|${message}"/>
      <target name="file" xsi:type="File" fileName="${basedir}/log.txt"
              layout="${date:format=HH\:mm\:ss}|${level}|${exception}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console"/>
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>

</configuration>