<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="C:\testlogs\samplelog.txt"/>
    <add key="ldapServerPath" value="192.168.36.4"/>
    <add key="ldapGroupDN" value="CN=TestV1Users,CN=Users,DC=corp,DC=versionone,DC=net"/>
    <add key="ldapUsername" value=""/>
    <add key="ldapPasswword" value=""/>
    <add key="V1Instance" value="http://eval.versionone.net/ldaptest/"/>
    <add key="V1InstanceUsername" value="admin"/>
    <add key="V1InstancePassword" value="admin"/>
    <add key="V1UserDefaultRole" value="Role:4"/>
    <add key="preserveReactivatedUserProjectAccess" value="True"/>
    <add key="preserveReactivatedUserDefaultRole" value="True"/>
    <add key="preserveReactivatedUserPassword" value="True"/>

    <!-- mappings of LDAP user attributes to VersionOne user attributes -->
    <add key="mapToV1Username" value="sAMAccountName"/> <!-- value=[customer's LDAP user atttribute that holds username to be mapped to the V1 username]-->
    <add key="mapToV1Fullname" value="displayName"/>
    <add key="mapToV1Email" value="mail"/>
    <add key="mapToV1Nickname" value="sAMAccountName"/>
  </appSettings>
</configuration>