<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="C:\testlogs\samplelog.txt"/>
    <add key="ldapServerPath" value="192.168.36.4"/>
    <add key="ldapGroupDN" value="OU=Sales,OU=Users V1,DC=corp,DC=versionone,DC=net"/>
    <add key="ldapUsername" value=""/>
    <add key="ldapPasswword" value=""/>
    <add key="V1Instance" value="http://localhost/demo/"/>
    <add key="V1InstanceUsername" value="admin"/>
    <add key="V1InstancePassword" value="admin"/>
    <add key="V1UserDefaultRole" value="Role:4"/>
  </appSettings>
</configuration>