<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="C:\testlogs\samplelog.txt"/>
    <add key="ldapServerPath" value="192.168.36.4"/>
    <add key="ldapGroupDN" value="CN=TestV1Users,CN=Users,DC=corp,DC=versionone,DC=net"/>
    <add key="ldapUsername" value=""/>
    <add key="ldapPasswword" value=""/>
    <add key="V1Instance" value=""/>
    <add key="V1InstanceUsername" value=""/>
    <add key="V1InstancePassword" value=""/>
    <add key="V1UserDefaultRole" value=""/>
  </appSettings>
</configuration>