<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>

    <!-- LDAP configuration -->
    <add key="ldapServerPath" value="{ReplaceMe}"/>
    <add key="ldapGroupDN" value="{ReplaceMe}"/>
    <add key="ldapUsername" value=""/>
    <add key="ldapPassword" value=""/>
    <add key="ldapGroupMemberAttribute" value="member"/>
    <add key="mapToV1Username" value="sAMAccountName"/>
    <!-- value=[customer's LDAP user atttribute that holds username to be mapped to the V1 username]-->
    <add key="mapToV1Fullname" value="displayName"/>
    <add key="mapToV1Email" value="userPrincipalName"/>
    <add key="mapToV1Nickname" value="sAMAccountName"/>
    <add key="useDefaultLDAPCredentials" value="true"/>
    <!-- any value other than "false" will result in the use of Default Credentials-->

  </appSettings>


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole"
              layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
      <target name="file" xsi:type="File" fileName="${basedir}/log.txt"
              layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console"/>
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>

</configuration>